.portal-listpage{
	//默认样式覆写
	dl.bbda.cl {}
	div.bm dt.xs2 {background:url("img/list-icon1.png") no-repeat 20px 6px;padding-left:48px;height:24px;line-height:24px;
	background-color:#f2f2f2;border-radius:20px;}
	div.bm dt.xs2 a {font-size:14px;font-weight:normal;color:#111;font-family:'Microsoft YaHei','Hiragino Sans GB','STHeiti',Tahoma,'SimHei',sans-serif;}
	div.bm dt.xs2 a:hover {color:#cc0000;text-decoration:none;border-bottom:1px dashed #999;}
	.xs2.cl {color:#999;font-size:12px !Important;padding:10px;}
	.single > .bm {border:none;}
	.bm_h.cl.single,.xs2.cl.single{display:none;}
	.bm_c.xld > .bbda.cl{border:none !important;}
	.mh-date{font-size:12px;font-weight:normal;padding-left:20px;}
	#lefthot{}
}

.portal-listpage{

	background:#f2f2f2 url("http://ww1.sinaimg.cn/large/bcc700eegw1eicfycbdj6j21hc0u07qf.jpg") repeat-x top center;
	.news_content{width:1040px;margin:0 auto;padding:20px 0;min-height:940px;position:relative;}
	.news_sdbg{position:absolute;right:-300px;top:20px;background:url("@{url}portal/news_sdbg.png") no-repeat;width:519px;height:564px;}
	.news_back{z-index:20;position:absolute;right:80px;top:310px;background:url("@{url}portal/news_back.png") no-repeat 0 0;width:127px;height:49px;}
	.news_back a{display:block;width:127px;height:49px;}
	.news_back:hover{background:url("@{url}portal/news_back.png") no-repeat 0 -49px;}

	.news_primary,.news_list{width:780px;border-radius:8px;background:#fff;padding:20px;float:left;}
	.news_list div.bm dt.xs2{background:none;padding:0 0 0 20px;}
	.news_list div.bm dt.xs2 a{font-size:12px;font-family:宋体;color:#222;}
	.news_list div.bm dt.xs2 a:hover{border-bottom:none;}

	.news_h1{background:url("@{url}portal/news_h1.png") no-repeat center bottom;height:32px;text-align:center;line-height:30px;}
	.news_list dt.xs2{float:left;width:460px;overflow:hidden;word-spacing:nowrap;}
	.news_list dd{float:right;}
	#news_list dl.bbda.cl{clear:both;height:28px;line-height:28px;padding-left:6px;border-bottom:1px dotted #ccc !important;}
	.news_list dl.bbda.cl:hover{display:block;background:url("@{url}portal/news_raw.png") no-repeat 0 4px;line-height:28px;}
	.news_list div.bm dt.xs2 a:hover{border-bottom:1px solid #976a09;}

	.news_sd{float:right;width:200px;padding-top:580px;}
	.news_sdct{background:#fff;border-radius:4px;padding:10px;}
	.news_pub{background:url("@{url}portal/news_pub.png") no-repeat center center;display:block;width:172px;height:43px;margin:0 auto;}
	.news_wx{background:url("@{url}/common/wx/wx-172.png") no-repeat center center;width:172px;height:172px;margin:0 auto;}

}